<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title>
      Edit Password
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="7">
        <div >
          <h2>Current Password</h2>
        </div>
      </ion-col>
    </ion-row>
    <!-- Input Row Start-->
    <ion-row>
      <ion-col>
        <form>
          <input placeholder="Enter Current Password" type="text" id="currentPassword">
        </form>
      </ion-col>
    </ion-row>
    <!-- New Password input Row -->
    <ion-row class="ion-justify-content-center">
      <ion-col size="7">
        <div >
          <h2>New Password</h2>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <form>
          <input placeholder="Enter New Password" type="text">
        </form>
      </ion-col>
    </ion-row>
    <!-- Confirm New Password input Row -->
    <ion-row class="ion-justify-content-center">
      <ion-col size="7">
        <div >
          <h2>Confirm New Password</h2>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <form>
          <input placeholder="Confirm New Password" type="text">
        </form>
      </ion-col>
    </ion-row>
    <!-- SAVE Button Row Start-->
    <ion-row>
      <ion-col>
        <div>
          <ion-button (click)="savePassword()">Save</ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
