<ion-header>
  <ion-toolbar>
    <ion-title>Favorites</ion-title>
  </ion-toolbar>
  <ion-searchbar></ion-searchbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <ion-icon name="heart"></ion-icon>
        <ion-img src="../assets/img/favourites/fav1.jpg"></ion-img>
      </ion-col>

      <ion-col size="6">
        <ion-icon name="heart"></ion-icon>
        <ion-img src="../assets/img/favourites/fav4.jpg"></ion-img>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
