<ion-header>
  <ion-toolbar>
    <ion-title>Favorites</ion-title>
  </ion-toolbar>
  <ion-searchbar></ion-searchbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <ion-icon name="heart"></ion-icon>
        <ion-img src="../assets/img/favourites/fav1.jpg"></ion-img>
      </ion-col>

      <ion-col size="6">
        <ion-icon name="heart"></ion-icon>
        <ion-img src="../assets/img/favourites/fav4.jpg"></ion-img>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-list>
    <ion-item>
        <ion-label> ID</ion-label>
        <ion-label> Name</ion-label>
        <ion-label> Email</ion-label>
      </ion-item>
    <ion-item *ngFor="let item of (results | async)">
        <ion-label> {{item.id}}</ion-label>
        <ion-label> {{item.username}}</ion-label>
        <ion-label> {{item.email}}</ion-label>
    </ion-item>
</ion-list>

</ion-content>
