<ion-header collapse="condense">
  <ion-toolbar>
    <ion-title>My Pantry</ion-title>
  </ion-toolbar>
    <ion-searchbar placeholder="Add ingredients"></ion-searchbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col>
      </ion-col>
      <ion-col size='8'>
        <div>
          <img src="../../assets/images/pantry/dairy-icon.jpg" alt="dairy" width="27" height="27">
          <p class="category">Dairy <span class = "arrow" ><button class="arrow-btn"><ion-icon name="caret-down-outline"></ion-icon></button></span></p>
        </div>
      </ion-col>
      <ion-col>
      </ion-col>
    </ion-row>
    <ion-row >
      <ion-col>
      </ion-col>
      <ion-col size='8'>
        <div>
          <img src="../../assets/images/pantry/broccoli-icon.jpg" alt="dairy" width="27" height="27">
          <p class="category">Vegetables <span class = "arrow"><button class="arrow-btn"><ion-icon name="caret-down-outline"></ion-icon></button></span></p>
        </div>
      </ion-col>
      <ion-col>
      </ion-col>
    </ion-row>
    <ion-row >
      <ion-col>
      </ion-col>
      <ion-col size='8'>
        <div>
          <img src="../../assets/images/pantry/fruit-icon.jpg" alt="dairy" width="27" height="27">
          <p class="category">Fruits <span class = "arrow"><button class="arrow-btn"><ion-icon name="caret-down-outline"></ion-icon></button></span></p>
        </div>
      </ion-col>
      <ion-col>
      </ion-col>
    </ion-row>
    <ion-row >
      <ion-col>
      </ion-col>
      <ion-col size='8'>
        <div>
          <img src="../../assets/images/pantry/grains-icon.jpg" alt="dairy" width="27" height="27">
          <p class="category">Grains <span class = "arrow"><button class="arrow-btn"><ion-icon name="caret-down-outline"></ion-icon></button></span></p>
        </div>
      </ion-col>
      <ion-col>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
      </ion-col>
      <ion-col size='8'>
        <div>
          <img src="../../assets/images/pantry/meat-icon.jpg" alt="dairy" width="27" height="27">
          <p class="category">Meat <span class = "arrow"><button class="arrow-btn"><ion-icon name="caret-down-outline"></ion-icon></button></span></p>
        </div>
      </ion-col>
      <ion-col>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
      </ion-col>
      <ion-col size='8'>
        <div>
          <img src="../../assets/images/pantry/nuts-icon.jpg" alt="dairy" width="27" height="27">
          <p class="category">Seafood <span class = "arrow"><button class="arrow-btn"><ion-icon name="caret-down-outline"></ion-icon></button></span></p>
        </div>
      </ion-col>
      <ion-col>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
      </ion-col>
      <ion-col size='8'>
        <div>
          <img src="../../assets/images/pantry/seafood-icon.jpg" alt="dairy" width="27" height="27">
          <p class="category">Spices <span class = "arrow"><button class="arrow-btn"><ion-icon name="caret-down-outline"></ion-icon></button></span></p>
        </div>
      </ion-col>
      <ion-col>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
      </ion-col>
      <ion-col size='8'>
        <div>
          <img src="../../assets/images/pantry/spices-icon.jpg" alt="dairy" width="27" height="27">
          <p class="category">Sweeteners <span class = "arrow"><button class="arrow-btn"><ion-icon name="caret-down-outline"></ion-icon></button></span></p>
        </div>
      </ion-col>
      <ion-col>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
      </ion-col>
      <ion-col size='8'>
        <div>
          <img src="../../assets/images/pantry/sweetners-icon.jpg" alt="dairy" width="27" height="27">
          <p class="category">Nuts <span class = "arrow"><button class="arrow-btn"><ion-icon name="caret-down-outline"></ion-icon></button></span></p>
        </div>
      </ion-col>
      <ion-col>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
