<ion-header>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>

    <ion-toolbar>
      <ion-title>My Pantry</ion-title>
  </ion-toolbar>

  <ion-toolbar>
    <ion-item>
      <ion-label>Choose Ingredient...</ion-label>
      <ionic-selectable
        [(ngModel)]="ingredient"
        [items]="ingredients"
        itemValueField="id"
        itemTextField="name"
        [canSearch]="true"
        (onChange)=" ingredientChange($event)">
      </ionic-selectable>
    </ion-item>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col>
      </ion-col>
      <ion-col size='8'>
        <div class ="category-container">
          <img src="../../assets/img/pantry/dairy-icon.jpg" alt="dairy" width="27" height="27">
          <p class="category">Dairy <span class = "arrow" ><button class="arrow-btn" (click)="toggleDairy()"><ion-icon name="caret-down-outline"></ion-icon></button></span></p>
        </div>
        <div *ngIf="showDairy">
          <div *ngFor="let item of dairy">
          <ion-list>
            <ion-item>
              <ion-label>{{item.name}}</ion-label>
            </ion-item>
          </ion-list>
        </div>
        </div>
      </ion-col>
      <ion-col>
      </ion-col>
    </ion-row>
    <ion-row >
      <ion-col>
      </ion-col>
      <ion-col size='8'>
        <div class ="category-container">
          <img src="../../assets/img/pantry/broccoli-icon.jpg" alt="dairy" width="27" height="27">
          <p class="category">Vegetables <span class = "arrow"><button class="arrow-btn" (click)="toggleVegetables()"><ion-icon name="caret-down-outline"></ion-icon></button></span></p>
        </div>
        <div *ngIf="showVegetables">
          <div *ngFor="let item of vegetables">
            <ion-list>
              <ion-item>
                <ion-label>{{item.name}}</ion-label>
              </ion-item>
            </ion-list>
          </div>
        </div>
      </ion-col>
      <ion-col>
      </ion-col>
    </ion-row>
    <ion-row >
      <ion-col>
      </ion-col>
      <ion-col size='8'>
        <div class ="category-container">
          <img src="../../assets/img/pantry/fruit-icon.jpg" alt="dairy" width="27" height="27">
          <p class="category">Fruits <span class = "arrow"><button class="arrow-btn" (click)="toggleFruits()"><ion-icon name="caret-down-outline"></ion-icon></button></span></p>
        </div>
        <div *ngIf="showFruits">
          <div *ngFor="let item of fruits">
            <ion-list>
              <ion-item>
                <ion-label>{{item.name}}</ion-label>
              </ion-item>
            </ion-list>
          </div>
        </div>
      </ion-col>
      <ion-col>
      </ion-col>
    </ion-row>
    <ion-row >
      <ion-col>
      </ion-col>
      <ion-col size='8'>
        <div class ="category-container">
          <img src="../../assets/img/pantry/grains-icon.jpg" alt="dairy" width="27" height="27">
          <p class="category">Grains <span class = "arrow"><button class="arrow-btn" (click)="toggleGrains()"><ion-icon name="caret-down-outline"></ion-icon></button></span></p>
        </div>
        <div *ngIf="showGrains">
          <div *ngFor="let item of grains">
            <ion-list>
              <ion-item>
                <ion-label>{{item.name}}</ion-label>
              </ion-item>
            </ion-list>
          </div>
        </div>
      </ion-col>
      <ion-col>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
      </ion-col>
      <ion-col size='8'>
        <div class ="category-container">
          <img src="../../assets/img/pantry/meat-icon.jpg" alt="dairy" width="27" height="27">
          <p class="category">Meat <span class = "arrow"><button class="arrow-btn" (click)="toggleMeat()"><ion-icon name="caret-down-outline"></ion-icon></button></span></p>
        </div>
        <div *ngIf="showMeat">
          <div *ngFor="let item of meat">
            <ion-list>
              <ion-item>
                <ion-label>{{item.name}}</ion-label>
              </ion-item>
            </ion-list>
          </div>
        </div>
      </ion-col>
      <ion-col>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
      </ion-col>
      <ion-col size='8'>
        <div class ="category-container">
          <img src="../../assets/img/pantry/nuts-icon.jpg" alt="dairy" width="27" height="27">
          <p class="category">Seafood <span class = "arrow"><button class="arrow-btn" (click)="toggleSeafood()"><ion-icon name="caret-down-outline"></ion-icon></button></span></p>
        </div>
        <div *ngIf="showSeafood">
          <div *ngFor="let item of seafood">
            <ion-list>
              <ion-item>
                <ion-label>{{item.name}}</ion-label>
              </ion-item>
            </ion-list>
          </div>
        </div>
      </ion-col>
      <ion-col>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
      </ion-col>
      <ion-col size='8'>
        <div class ="category-container">
          <img src="../../assets/img/pantry/seafood-icon.jpg" alt="dairy" width="27" height="27">
          <p class="category">Spices <span class = "arrow"><button class="arrow-btn" (click)="toggleSpices()"><ion-icon name="caret-down-outline"></ion-icon></button></span></p>
        </div>
        <div *ngIf="showSpices">
          <div *ngFor="let item of spices">
            <ion-list>
              <ion-item>
                <ion-label>{{item.name}}</ion-label>
              </ion-item>
            </ion-list>
          </div>
        </div>
      </ion-col>
      <ion-col>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
      </ion-col>
      <ion-col size='8'>
        <div class ="category-container">
          <img src="../../assets/img/pantry/spices-icon.jpg" alt="dairy" width="27" height="27">
          <p class="category">Sweeteners <span class = "arrow"><button class="arrow-btn" (click)="toggleSweeteners()"><ion-icon name="caret-down-outline"></ion-icon></button></span></p>
        </div>
        <div *ngIf="showSweeteners">
          <div *ngFor="let item of sweeteners">
            <ion-list>
              <ion-item>
                <ion-label>{{item.name}}</ion-label>
              </ion-item>
            </ion-list>
          </div>
        </div>
      </ion-col>
      <ion-col>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
      </ion-col>
      <ion-col size='8'>
        <div class ="category-container">
          <img src="../../assets/img/pantry/sweetners-icon.jpg" alt="dairy" width="27" height="27">
          <p class="category">Nuts <span class = "arrow"><button class="arrow-btn" (click)="toggleNuts()"><ion-icon name="caret-down-outline"></ion-icon></button></span></p>
        </div>
        <div *ngIf="showNuts">
          <div *ngFor="let item of nuts">
            <ion-list>
              <ion-item>
                <ion-label>{{item.name}}</ion-label>
              </ion-item>
            </ion-list>
          </div>
        </div>
      </ion-col>
      <ion-col>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
      </ion-col>
      <ion-col size='8'>
        <div class ="category-container">
          <img src="../../assets/img/pantry/sweetners-icon.jpg" alt="dairy" width="27" height="27">
          <p class="category">Oils <span class = "arrow"><button class="arrow-btn" (click)="toggleOils()"><ion-icon name="caret-down-outline"></ion-icon></button></span></p>
        </div>
        <div *ngIf="showOils">
          <div *ngFor="let item of oils">
            <ion-list>
              <ion-item>
                <ion-label>{{item.name}}</ion-label>
              </ion-item>
            </ion-list>
          </div>
        </div>
      </ion-col>
      <ion-col>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
      </ion-col>
      <ion-col size='8'>
        <div class ="category-container">
          <img src="../../assets/img/pantry/sweetners-icon.jpg" alt="dairy" width="27" height="27">
          <p class="category">Sauces <span class = "arrow"><button class="arrow-btn" (click)="toggleSauces()"><ion-icon name="caret-down-outline"></ion-icon></button></span></p>
        </div>
        <div *ngIf="showSauces">
          <div *ngFor="let item of sauces">
            <ion-list>
              <ion-item>
                <ion-label>{{item.name}}</ion-label>
              </ion-item>
            </ion-list>
          </div>
        </div>
      </ion-col>
      <ion-col>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
      </ion-col>
      <ion-col size='8'>
        <div class ="category-container">
          <img src="../../assets/img/pantry/sweetners-icon.jpg" alt="dairy" width="27" height="27">
          <p class="category">Beverages <span class = "arrow"><button class="arrow-btn" (click)="toggleBeverages()"><ion-icon name="caret-down-outline"></ion-icon></button></span></p>
        </div>
        <div *ngIf="showBeverages">
          <div *ngFor="let item of beverages">
            <ion-list>
              <ion-item>
                <ion-label>{{item.name}}</ion-label>
              </ion-item>
            </ion-list>
          </div>
        </div>
      </ion-col>
      <ion-col>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
      </ion-col>
      <ion-col size='8'>
        <div class ="category-container">
          <img src="../../assets/img/pantry/sweetners-icon.jpg" alt="dairy" width="27" height="27">
          <p class="category">Other <span class = "arrow"><button class="arrow-btn" (click)="toggleOther()"><ion-icon name="caret-down-outline"></ion-icon></button></span></p>
        </div>
        <div *ngIf="showOther">
          <div *ngFor="let item of other">
            <ion-list>
              <ion-item>
                <ion-label>{{item.name}}</ion-label>
              </ion-item>
            </ion-list>
          </div>
        </div>
      </ion-col>
      <ion-col>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
