ion-content {
  margin-top: 30px;
}

ion-button {
  --background: #7c9262;
}

.logo {
  height: 30vh;
  width: auto;
  margin: auto;
  display: block;
}

.title {
  text-align: center;
}
ion-item {
  margin: 10px;
}

@media (min-width: 980px) {
  ion-grid {
    width: 50%;
    height: 100%;
    justify-content: center;
  }
}

.text-gray {
  color: gray;
  font-weight: bold;
}
.text-red {
  color: red;
  font-weight: bold;
}

.ion-color-danger {
  font-weight: bold !important;
  font-size: large !important;
}
