<ion-content [fullscreen]="true" padding="true" class="background">
  <ion-grid>
    <ion-row>
      <ion-col text-center>
        <img src="../../assets/bitstobiteslogo.png" class="logo" />
        <ion-item lines="full">
          <ion-label position="floating">Email</ion-label>
          <ion-input
            name="email"
            type="text"
            placeholder="Enter Email"
            required
          ></ion-input>
        </ion-item>
        <ion-item lines="full">
          <ion-label position="floating">Password</ion-label>
          <ion-input
            name="password"
            type="password"
            required
          ></ion-input>
        </ion-item>
        <ion-row>
          <ion-col>
            <ion-button
              type="submit"
              expand="block"
              routerLink="/tabs/tab1"
            >
              Log In
            </ion-button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="ion-text-center ion-padding-vertical">
              <a class="text-gray" (click)="presentAlert()">Forgot Password?</a>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="ion-text-center ion-padding-vertical">
            Don't have an account
              <a class="text-red" href="/register">Sign Up.</a>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
