ion-button{
  --background: green;
}

.background-image{
  --background: url(../../assets/img/background/light-wood.jpg) 0 0/100% 100% no-repeat;
}

ion-toolbar{
  color: white;
  --background: url(../../assets/img/background/dark-wood.jpg) 0 0/100% 100% no-repeat;
  margin-top: 0;
}

ion-searchbar{
  --background: white;
}
