<ion-header>
  <ion-toolbar>
    <ion-title size="large" class="ion-text-center">Search Recipes</ion-title>
  </ion-toolbar>
  <ion-toolbar class="ion-text-center">
    <ion-searchbar></ion-searchbar>
    <ion-button (click)="goSearchRecipe()">See Search Results</ion-button>
  </ion-toolbar>

</ion-header>


<ion-content>
  <h2>Diet</h2>
  <table>
    <tr>
      <td><ion-button>Vegan</ion-button></td>
      <td><ion-button>Vegetarian</ion-button></td>
      <td><ion-button>Paleo</ion-button></td>
    </tr>
    <tr>
      <td><ion-button>Low-Carb</ion-button></td>
      <td><ion-button>Gluten-free</ion-button></td>
      <td><ion-button>Dairy-free</ion-button></td>
    </tr>
  </table>

  <h2>Cuisine</h2>
  <table>
    <tr>
      <td><ion-button>French</ion-button></td>
      <td><ion-button>Italian</ion-button></td>
      <td><ion-button>Mexican</ion-button></td>
      <td><ion-button>Thai</ion-button></td>
    </tr>
    <tr>
      <td><ion-button>Indian</ion-button></td>
      <td><ion-button>Chinese</ion-button></td>
      <td><ion-button>Caribbean</ion-button></td>
      <td><ion-button>Greek</ion-button></td>
    </tr>
  </table>

  <h2>Difficulty</h2>
  <table>
    <tr>
      <td><ion-button>Novice</ion-button></td>
      <td><ion-button>Intermediate</ion-button></td>
      <td><ion-button>Expert</ion-button></td>
    </tr>
  </table>

  <h2>Cost</h2>
  <table>
    <tr>
      <td><ion-button [ngStyle]="{'background-color':'green'}">Low to High</ion-button></td>
      <td><ion-button>High to low</ion-button></td>
      <td><ion-button>Under 30$</ion-button></td>
    </tr>
  </table>

  <h2>Time</h2>
  <table>
    <tr>
      <td><ion-button>Under 1 hour</ion-button></td>
      <td><ion-button>Under 30 min</ion-button></td>
      <td><ion-button>Under 15 min</ion-button></td>
    </tr>
  </table>
</ion-content>
