ion-button{
  --background: green;
}


ion-title{
  color: white;
  background: saddlebrown;
  margin-top: 0;
}

ion-header, ion-toolbar{
  background: saddlebrown;
  margin-bottom: 0;
}

ion-content{
  --background: bisque;
}

ion-searchbar{
  --background: white;
}
