<ion-header>
  <ion-buttons slot="start">
    <ion-back-button></ion-back-button>
  </ion-buttons>

  <ion-toolbar>
    <ion-title>Discover</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar [(ngModel)]="titleName"></ion-searchbar>
    <ion-button (click)="goSearchRecipe()">See Search Results</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content class="recipeContainer">
  <p>USE YOUR RECIPES</p>
  <ion-card *ngFor="let item of recipes">
    <ion-card-header>
      <ion-card-title>{{item.name}}</ion-card-title>
    </ion-card-header>
    <ion-card-content
      ><img src="{{item.imageUrl}}" (click)="goToRecipe(item.name)" class="recipe-img" />
    </ion-card-content>
  </ion-card>
</ion-content>
