<ion-header *ngIf="recipe!=null">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      <ion-button (click)="favoriteRecipe()"><ion-icon name="heart"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-img class="recipe-image" src="{{recipe.imageUrl}}"></ion-img>

</ion-header>

<ion-content>
  <div class="main-div" *ngIf="recipe!= null">
    <h2>{{recipe.name}}</h2>
      <h3>Level: {{recipe.level}}</h3>
      <h3>Total: {{recipe.totalTime}}</h3>

    <h3>Ingredients:</h3>
    <div *ngFor="let item of recipe.recipeToIngredients" >
        <h3>{{item.metricWeight}} {{item.metricUnitType}} {{item.ingredient.name}}</h3>
    </div>
    <br>
    <br>
    <h3>Directions:</h3>
      <p>{{recipe.directions}}</p>
  </div>

</ion-content>
