<ion-header >
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title>
      Edit Username
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="7">
        <div >
          <h2>Change Full Name</h2>
        </div>
      </ion-col>
    </ion-row>
    <!-- Input Row Start-->
    <ion-row>
      <ion-col>
        
          <input placeholder="Jone Doe" type="text" id="text" [(ngModel)]="userFullName">
        
      </ion-col>
    </ion-row>
    <!-- SAVE Button Row Start-->
    <ion-row>
      <ion-col>
        <div>
          <ion-button (click)="saveUsername()">Save</ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
